<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonteringService</title>

    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MonteringService.styles.css" asp-append-version="true" />

   
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Montering" asp-action="Index">MonteringService</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6" style="max-height: calc(100vh - 100px); overflow-y: auto;">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            
            <div class="col-md-6 p-0">
                <div id="map" style="height: calc(100vh - 100px); width: 100%;"></div>
            </div>
        </div>
    </div>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
